{% extends '../index.html' %} 
{% load static %}
{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block 'body' %}

<div id="SignInContainer">
  <div id="SignInWrap">
    <div class="logo">
      <span>CiDeli Login</span> 
    </div>
    <form action = "/login" method = "post"> <!--The form sends the info to the login page, post means this information is being SENT to the server-->
      <input class="block" placeholder="Username" type="text"/>
      <input class="block" placeholder="Password" type="password"/>
      <button class="loginButton block" type="submit">Login</button>
    </form>

    <div class="center block">
      <span class="lighter">New to CiDeli?</span>
      <a href="/register">Register</a>
    </div>
  </div>
</div>
{% endblock %}